@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #404045;
    /* border: 1px solid #fff; */
    display: block;
    /* font-family: 'Roboto', sans-serif; */
    /* color: #fff; */
    /* overflow: hidden; */
    color: #a4a8b4;
}

header{
    position: relative;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
}

header .n1{
    width: 350px;
    height: 710px;
    background-color: #303034;
    display: block;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;

}

header .n1 .user{
    /* height: max-content; */
    /* padding: 25px;  */
    display: flex;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    cursor: pointer;
    /* border: 1px solid #000; */
}

header .n1 .user h2{
    margin: auto;
    padding: 10px;
    font-size: large;
    opacity: 0;
    /* background-color: #47474C; */
    border-radius: 50px;
    color: #fff;
    transition: .5s linear;
}

header .n1 .user:hover h2{
    opacity: 1;
}

header .n1 .user img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-left: 40%;
    transition: .5s linear;
}

header .n1 .user:hover img{
    border-radius: 50%;
    margin-left: 0%;
}

header .n1 .d1 h2{
    width: 110px;
    text-align: center;
    /* margin-left: 25px; */
    padding: 10px;
    transition: .2s linear;
    cursor: pointer;
    /* border: 1px solid #000; */
}

header .n1 .d1 h2:hover{
    transform: scalex(1.1);
    color: #fff;
}

header .n1 .hr{
    width: 300px;
    height: 2px;
    /* padding: 5px; */
    background-color: #a4a8b4;
    margin-left: 25px;
}

header .n1 .d2{
    height: 530px;
    /* border: 3px solid yellow; */
    /* overflow: scroll; */
}

header .n1 .d2 .d21{ 
    position: relative;
    display: flex;
    /* top: px; */
    /* border: 1px solid #000; */
}

header .n1 .d2 .d21 h2{
    width: 110px;
    text-align: center;
    margin-left: 10px;
    padding: 10px;
    transition: .3s linear;
    /* border: 1px solid #000; */
}

/* header .n1 .d2 .d21 h2:hover{
    transform: scalex(1.1);
    color: #fff;
} */

header .n1 .d2 .d21 .a1{
    width: 100px;
    /* border: 1px solid #000; */
    margin-top: 20px;
    margin-left: 130px;
    font-size: medium;
    cursor: pointer;
    transition: .3s linear;
}

header .n1 .d2 .d21 .a1:hover{
    color: #fff;
    text-decoration: underline;
}

header .n1 .d2 .d20{
    width: 300px;
    height: 480px;
    display: block;
    margin: auto;
    margin-top: 5px;
    align-items: center;
    overflow: scroll;
    /* border: 1px solid red; */
}

header .n1 .d2 .d20 .d200{
    width: 300px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    padding: 10px;
    /* border: 1px solid red; */
}

header .n1 .d2 .d20 .d2001{
    width: 100px;
    padding: 10px 0px 10px 0px;
    /* border: 1px solid white; */
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 13px;
    cursor: pointer;

}

header .n1 .d2 .d20 .d2001:hover{
    background-color: #515158;
}

header .n1 .d2 .d20 .d2001 img{
    width: 75px;
    height: 75px;
    border-radius: 20px;
}

header .n2{
    width: 1090px;
    height: 710px;
    background-color: #545459;
    /* border: 1px solid red; */
    /* overflow: scroll; */
}

header .n2::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 180px;
    background: url('bg.png');
    background-size: 245px;
    background-repeat: no-repeat;
    margin-left: 768px;
    margin-top: 92px;
    z-index: 0;
    /* border: 1px solid red; */
}

header .n2 nav{
    width: 100%;
    display: flex;
    /* border: 1px solid #000; */
    margin-top: 15px;
}

header .n2 nav .n20{
    width: 400px;
    display: flex;
    /* border: 1px solid #fff; */
    align-items: center;
    margin-left: 3%;
    
}

header .n2 nav .n20 .logo{
    width: 55px;
    height: 55px;
    margin-left: 5.5%;
    border-radius: 10px;
    align-items: center;
}


header .n2 nav .n20 span{
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    color: #fff;
    padding-left: 20px;
    font-size: x-large ;
    
}

header .n2 nav .log{
    width: 110px;
    margin: auto;
    margin-left: 500px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    padding: 5px;
    text-align: center;
    color: #a4a8b4;
    font-size: large ;
    cursor: pointer;
    transition: .3s linear;
    
    
}

header .n2 nav .log:hover{
    border-radius: 50px;
    background-color: #262831;
    color: #fff;
}

header .n2 .hr{
    width: 990px;
    height: 2px;
    background-color: #000;
    margin-left: 5%;
    margin-top: 15px;
    /* border: 1px solid red; */
}

header .n2 .d3{
    width: 90%;
    height: 30%;
    margin: auto;
    margin-top: 10px;
    font-family: 'Roboto Mono', monospace;
    /* border: 1px solid #fff; */
    padding-top: 20px;

}

header .n2 .d3 h1{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

header .n2 .d3 p{
    font-size: 12.5px;
    font-weight: 400;
    color: #a4a8b4;
    margin: 5px;
}

header .n2 .d3 .buttons{
    margin-top: 15px;
}

header .n2 .d3 .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #262831;
    outline: none;
    border-radius: 20px;
    background: #262831;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}

header .n2 .d3 .buttons button:hover{
    border: 2px solid #262831;
    background: none;
    color: #a4a8b4;
}

header .n2 .d3 .buttons button:nth-child(2){
    border: 2px solid #262831;
    background: none;
    color: #a4a8b4;
}

header .n2 .d3 .buttons button:nth-child(2):hover{
    border: 2px solid #262831;
    background: #262831;
    color: #fff;
}

header .n2 .d3 .hr{
    width: 840px;
    height: 2px;
    background-color: #000;
    margin-left: 0%;
    margin-top: 20px;
}

header .n2 .d4{
    margin-top: -35px;
    /* border: 1px solid red; */
    display: block;
}
header .n2 .d4 .d41{
    width: 150px;
    margin-left: 55px;
    font-size: larger;
    color: #fff;
    /* border: 2px solid green; */
}

header .n2 .d4 .d42{
    width: 1032px;
    margin-left: 25px;
    margin-top: 10px;
    padding-left: 50px;
    /* border: 1px solid blue; */
    display: flex;
    overflow: scroll;
}

header .n2 .d4 .d42 div{
    position: relative;
    width: 125px;
    margin-left: 20px;
    padding: 10px 10px 0px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid red; */
}

header .n2 .d4 .d42 div:hover{
    background-color: #686868;
}

header .n2 .d4 .d42 div img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

header .n2 .d4 .d42 div .bi{
    position: absolute;
    margin-left: -62.5px;
    margin-top: 37.5px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}

header .n2 .d4 .d42 div:hover .bi{
    opacity: 1;
}


header .n2 .d4 .d42 div h4{
    color: #fff;
    /* border: 1px solid red; */
    overflow: hidden;
}

header .n2 .d5{
    margin-top: 1px;
    /* border: 1px solid red; */
    display: block;
}

header .n2 .d5 .d41{
    width: 250px;
    margin-left: 55px;
    font-size: larger;
    color: #fff;
    /* border: 2px solid green; */
}

header .n2 .d5 .d42{
    width: 1032px;
    margin-left: 25px;
    margin-top: 10px;
    padding-left: 50px;
    /* border: 1px solid blue; */
    display: flex;
    overflow: scroll;
}

header .n2 .d5 .d42 div{
    position: relative;
    width: 125px;
    margin-left: 20px;
    padding: 10px 10px 0px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid red; */
}

header .n2 .d5 .d42 div:hover{
    background-color: #686868;
}

header .n2 .d5 .d42 div img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

header .n2 .d5 .d42 div .bi{
    position: absolute;
    margin-left: -62.5px;
    margin-top: 37.5px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}

header .n2 .d5 .d42 div:hover .bi{
    opacity: 1;
}

header .n2 .d5 .d42 div h4{
    color: #fff;
    /* border: 1px solid red; */
    overflow: hidden;
}

footer{
    position: relative;
    width: 1440px;
    height: 80px;
    background-color: #000;
    display: flex;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

footer .disk{
    position: relative;
    margin: 0px 0px 0px 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    background-image: url('bg4.jpg');
    background-size: cover;
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.08);
    animation: rotate 20s linear infinite;
    animation-play-state: running;
}

footer .disk.play{
    animation-play-state: paused;
}

footer .text{
    display: block;
    margin: 0px 0px 0px 50px;
    text-transform: capitalize;
}

footer .music-name{
    width: 120px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
}

footer .artist-name{
    font-size: 12.5px;
    overflow: hidden;
}

footer .icon{
    /* border: 1px solid #fff; */
    display: flex;
    position: relative;
    margin: 0px 0px 0px 50px;
}

footer .icon #back,
footer .icon #next{
    /* border: 1px solid #fff; */
    font-size: 25px;
    padding: 13.5px;
    cursor: pointer;
}

footer .icon #play{
    /* border: 1px solid #fff; */
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

footer .song-slider{
    width: 45%;
    position: relative;
    margin: 0px 0px 0px 50px;
    /* border: 1px solid #fff; */
}

footer .song-slider input{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #303034;
    overflow: hidden;
    cursor: pointer;
    /* border: 1px solid #fff; */
}

footer .song-slider input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    border-radius: 50%;
    background: #a4a8b4;
    box-shadow: -400px 0 0 400px #a4a8b4;
}

footer .song-slider span{
    font-size: 14px;
    /* border: 1px solid #fff; */
}

footer .song-slider .song-time{
    position: absolute;
    right: 0;
}

footer .vol-bar{
    width: 12.5%;
    height: 40px;
    position: relative;
    display: flex;
    margin: 0px 0px 0px 40px;
    /* border: 1px solid #fff; */
    text-align: center;
}

footer .vol-bar div{
    /* border: 1px solid #fff; */
    align-items: center;
    justify-items: center;
}

footer .vol-bar div input{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    margin: 15px;
    background-color: #303034;
    overflow: hidden;
    cursor: pointer;
    /* border: 1px solid #fff; */
}

footer .vol-bar div input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    border-radius: 50%;
    background: #a4a8b4;
    box-shadow: -400px 0 0 400px #a4a8b4;
}

footer .vol-bar i{
    font-size: 25px;
    margin: 5px;
    /* border: 1px solid #fff; */
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}